<div class="row top">
    <div class="col-lg-2 sidebar">
        <div class="infobox">
            <div class="upper">
                <h2>Bloc Chat &nbsp;<i class="fa fa-comments-o fa-lg" aria-hidden="true"></i></h2>   
            </div>
            <div class="lower">
                <!-- <h3>Hi, {{ home.username }}! </h3> -->
            </div> 
        </div>
        <div class="infobox">
            <div class="upper">
                <h3>Now Chatting in:</h3>   
            </div>
            <div class="lower">
                <h3>{{ home.activeRoomValue }}</h3>
            </div> 
        </div>
        <div class="infobox room">
            <div class="rooms" ng-repeat="room in home.rooms track by $index"> 
            <a ng-click="home.selectRoom($index)"><h3>{{ room.$value }}</h3></a>
            </div> 
        </div>
        <div class=" infobox buttons">
            <button class="btn btn-success btn-top" type="button" ng-click="home.open()">Create Room</button>
            <button class="btn btn-danger btn-top" type="button" ng-click="home.delete()">Delete Room</button>
        </div> 
    </div>
    <div class="col-lg-10 chat-room">
        <table class="table table-striped">
            <tr ng-repeat="message in home.selectMessages">
                <td class="col-lg-10 message"><p>&nbsp;{{ home.username }}: {{ home.selectMessages[$index].content }}</p></td>
                <td class="col-lg-2 time"><p>{{ home.getTime() }}&nbsp;</p></td>
            </tr>
        </table>
    </div>
</div>
<div class="row bottom">
    <div class="col-lg-2 sendbar">
       <button class="btn btn-success btn-send" type="button" ng-model="home.input" ng-click="home.newMessage()">Send Message</button>
    </div>
    <div class="col-lg-10 textbox">
        <input class="typebar" ng-hide="!home.activeRoomValue" type="text" placeholder="&nbsp;Enter a new Message" ng-model="home.input" ng-keyup="$event.keyCode == 13 && home.newMessage()"></input>
    </div>
</div>
