
<div class="row top">
    <div class="stripe col-lg-3 banner">
        <div class="upper">
            <h2>Bloc Chat</h2>  
        </div>
        <div class="lower">
            <button class="btn btn-success" type="button" ng-click="home.open()">Create Room</button>
            <button class="btn btn-danger" type="button" ng-click="home.delete()">Delete Room</button>
        </div>  
    </div>
    <div class="col-lg-9 banner">
        <div class="upper">
            <h3>Hi, {{ home.username }}!</h3>
        </div>
        <div class="lower">
            <h3>Now Chatting in: {{ home.activeRoomValue }}</h3>
        </div>      
    </div>
</div>
<div class="row bottom">
    <div class="stripe col-lg-3 sidebar">
        <div class="rooms" ng-repeat="room in home.rooms track by $index"> 
            <a ng-click="home.selectRoom($index)"><h3>{{ room.$value }}</h3></a>
        </div>
    </div>
    <div class="col-lg-9 chat-room">
        <table class="table table-striped">
            <tr ng-repeat="message in home.selectMessages">
                <td class="message"><h3>{{ home.username }}: {{ home.selectMessages[$index].content }}</h3></td>
                <td class="time"><h3>{{ home.getTime() }}</h3></td>
            </tr>
        </table>
    </div>
</div>

